.slider{
    background: #ffff;
    font-family: 'Montserrat', sans-serif;

    .slider-caption{
        font-size: 1.75rem;
        text-align: center;
        margin-top: 50px;
    }

    .swiper{
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
        height: 650px;
    
        .swiper-container {
            width: 100%;
            padding-top: 90px;
            padding-bottom: 10px;
            transition: all 0.5s linear;
    
    
            .swiper-wrapper{
                width: 420px;
                height: 420px;
                background-position: center;
                background-size: cover;
            }
        }
    }
      
}
