

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
/*===============Navbar===============*/
@import 'nav';

/*===============Hero===============*/
@import 'hero';

/*=============== Slider===============*/
@import 'swiper';


/*=============== process===============*/
@import 'process';


@import 'backbutton';


/*=============== FOOTER ===============*/
@import 'footer';